#Name{
  font-weight: bold;

}

h2{
  font-weight: bold;
}

*{
  background-color: black;
  color: #2afe15;
  font-family: 'Fira Code', monospace;
}

.find{
  text-decoration: underline;
}

.imgLinks:hover{
  color: white !important;
}

.resumeHeader{
  color: magenta !important;
  font-weight: 400;
}

#turnWhite{
  color: white !important;
}

#turnAqua{
  color: aqua !important;
}