<div class="bio-container">
  <div class="bio-image">
      <img src="./media/me.png" alt="Me">
  </div>
  <div class="bio-text">
      <h1>Connor Marler</h1>
      <h2>Associate Mage</h2>
      <p id="bio">
        My name is Connor, and I am a developer based in St. Louis, MO.
         After earning a degree in computer science from Missouri 
         University of Science and Technology, I began my career 
         as an associate developer at World Wide Technology. 
         Outside of work, I enjoy spending time with my partner 
         and dog, playing Dungeons & Dragons, and enjoying my 
         record collection.
      </p>
  </div>
</div>